<div>
  Vocabulary <strong>{{vocabulary.name}}</strong> questions
</div>
<br/>

<script type="text/ng-template" id="error-messages">
  <span class="label label-danger" ng-message="required">required</span>
  <span class="label label-danger" ng-message="minlength">too short</span>
  <span class="label label-danger" ng-message="maxlength">too long</span>
</script>

<div ng-show="question">
  <form class="form-horizontal" role="form" name="questionForm" novalidate
    ng-submit="saveQuestion(questionForm.$valid)">
    <div class="form-group">
      <label for="inputQuestion" class="col-sm-4 control-label">Question</label>
      <div class="col-sm-8">
        <input type="text" class="form-control" id="inputQuestion" ng-model="question.question" name="question"
        minlength="10" maxlength="255" required
        ng-model-options="{ debounce: 100 }"/>
        <div ng-messages="questionForm.question.$error" class="help-block" ng-messages-include="error-messages">
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="inputQuestionExplain" class="col-sm-4 control-label">Question explain</label>
      <div class="col-sm-8">
        <input type="text" class="form-control" id="inputQuestionExplain" ng-model="question.question_explain">
      </div>
    </div>
    <div class="form-group">
      <label for="inputAnswer" class="col-sm-4 control-label">Answer</label>
      <div class="col-sm-8">
        <input type="text" class="form-control" id="inputAnswer" ng-model="question.answer" name="answer"
          minlength="1" maxlength="255" required
          ng-model-options="{ debounce: 100 }"/>
        <div ng-messages="questionForm.answer.$error" class="help-block" ng-messages-include="error-messages">
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="inputAnswerExplain" class="col-sm-4 control-label">Answer explain</label>
      <div class="col-sm-8">
        <input type="text" class="form-control" id="inputAnswerExplain" ng-model="question.answer_explain">
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-4 col-sm-4">
        <button class="btn btn-link" ng-click="cancelForm()">cancel</button>
        <button class="btn btn-primary" type="bubmit">Save</button>
      </div>
    </div>
  </form>
</div>
<div ng-hide="question">
  <button class="btn btn-sm btn-primary" ng-click="addQuestion()">Add question</button>
</div>
<br/>
<div class="questions-container">
  <ul class="list-group">
    <li ng-repeat="question in questions track by $index" class="list-group-item">
      <button class="btn btn-xs btn-danger" ng-click="removeQuestion(question)">remove</button>
      <button class="btn btn-xs btn-default" ng-click="editQuestion(question)">edit</button>
      {{ question.question }} | {{ question.answer}}
    </li>
  </ul>
</div>
